<h2>User List</h2>

<table class="user-list-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Status</th>
            <th class="text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.firstName + ' ' + user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    @if(user.isActive){
                        <span class="active">{{ "Active" }}</span>
                    }@else{
                        <span class="deactive">{{ "Deactive" }}</span>
                    }
                </td>
                <td class="text-right">
                    @if(user.isActive){
                        <button class="deactive" (click)="updateUserStatus(user.id, 'deactive')"><i class="fa fa-times"></i></button>
                    }@else{
                        <button class="active" (click)="updateUserStatus(user.id, 'active')"><i class="fa fa-check"></i></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
