<div class="profile-picture-wrapper">
	<div class="img-container" style="background-image: url('{{ profilePicture }}');">
	</div>
</div>

@if(validationErrors != null){
  <div *ngFor="let entry of validationErrors | keyvalue">
    <div style="color: white; background-color: rgb(145, 27, 27); padding: 5px; border-radius: 6px; margin-bottom: 5px;">
      <strong>{{ entry.key }}:</strong> {{ entry.value }}
    </div>
  </div>
 
}

@if(!isPreview){
  <div class="d-flex justify-content-end">
    <button class="btn" (click)="togglePreview()">Close</button>
  </div>

  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
    <table class="table">
      <tbody>
          <tr>
            <td>First Name</td>
            <td>
              <input type="text" class="form-control" formControlName="firstName">
              @if(updateProfileForm.controls.firstName.invalid && (updateProfileForm.controls.firstName.touched || updateProfileForm.controls.firstName.dirty)){
                @if(updateProfileForm.controls.firstName.errors?.["required"]){
                    <small class="error">Please enter firstName</small>
                } 
              }
            </td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>
              <input type="text" class="form-control" formControlName="lastName">
              @if(updateProfileForm.controls.lastName.invalid && (updateProfileForm.controls.lastName.touched || updateProfileForm.controls.lastName.dirty)){
                @if(updateProfileForm.controls.lastName.errors?.["required"]){
                    <small class="error">Please enter lastName</small>
                } 
              }
            </td>
          </tr>
          <tr>
            <th>Username</th>
            <td>
              <input type="text" class="form-control" formControlName="userName">
              @if(updateProfileForm.controls.userName.invalid && (updateProfileForm.controls.userName.touched || updateProfileForm.controls.userName.dirty)){
                @if(updateProfileForm.controls.userName.errors?.["required"]){
                    <small class="error">Please enter username</small>
                } 
              }
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <input type="text" class="form-control" formControlName="email">
              @if(updateProfileForm.controls.email.invalid && (updateProfileForm.controls.email.touched || updateProfileForm.controls.email.dirty)){
                @if(updateProfileForm.controls.email.errors?.["required"]){
                    <small class="error">Please enter email</small>
                } 
              }
            </td>
          </tr>
          <tr>
            <td>Change Profile Picture</td>
            <td>
              <input type="file" name="profile-picture" class="" (change)="changePicture($event)" formControlName="profilePictureControl" id="inputProfilePicture">
              @if(updateProfileForm.controls.profilePictureControl.invalid || (updateProfileForm.controls.profilePictureControl.touched || updateProfileForm.controls.profilePictureControl.dirty)){
                @if(updateProfileForm.controls.profilePictureControl.errors?.["required"]){
                    <small class="error">Please select an image</small>
                }
              }
            </td>
          </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn">Update</button>
    </div>
    
  </form>
}@else{
    <div class="d-flex justify-content-end">
      <button class="btn" (click)="togglePreview()">Edit</button>
    </div>
    <table class="table">
      <tbody>
          <tr>
            <td>Name</td>
            <td>{{ user.firstName + " " + user.lastName }}</td>
          </tr>
          <tr>
            <th>Username</th>
            <td> {{ user.userName }} </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{user.email}}
            </td>
          </tr>
      </tbody>
    </table>
}

