<div class="profile-picture-wrapper">
	<div class="img-container" style="background-image: url('{{ profilePicture }}');">
		<div class="change-image-text" (click)="changePicture()">Click to change Profile Picture</div>
		<input type="file" name="profile-picture" class="" (change)="uploadPicture($event)" id="inputProfilePicture">
	</div>
</div>
<table class="table">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{ user.firstName + " " + user.lastName }}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td> {{ user.userName }} </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{user.email}}
        </td>
      </tr>
    </tbody>
</table>
