.container{
    width: 800px;
    margin: 0 auto;
    padding-top: 15px;
}

.batch{
    color: white;
    padding: 15px 10px;
    text-align: center;
    border-radius: 6px;
}

.batch-active{
    background: rgb(35, 148, 35);
}

.batch-deactive{
    background: rgb(177, 30, 30);
}

nav{
	padding-left: 10px;
	padding-right: 10px;
}

.right-content{
	display: flex;
	flex-flow: row;
	gap: 10px;
}

.profile-picture-container{
	border-radius: 100%;
	overflow: hidden;
}

.profile-picture-container img{
	width: 40px;
}
