<nav class="navbar navbar-light bg-light" style="justify-content: space-between;">
	<h3>
		<a routerLink="/dashboard" class="nav-link">User Management</a>
	</h3>
	<div>
		@if(userRoles.includes("Admin")){
			<a routerLink="users" class="nav-link">Users</a> 
		}
	</div>
	
    <div class="right-content" id="">
        <p>{{ user.userName }}</p>
		<div class="profile-picture-container">
			<img src="{{ profilePicture }}" />
		</div>
		<button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
</nav>

<div class="container">
    @if(!isLoading){
        <router-outlet></router-outlet>
    }
</div>
